.productGrid {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
}

.productImg {
  height: 100px;
  width: auto;
}

.productList {
  border: 1px solid#888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.quantityControl {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 10px;
}

.quantityControl button {
  background-color: #eee;
  border: none;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.quantityControl input {
  width: 40px;
  text-align: center;
}
